@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* light version background gradient: background-image: linear-gradient(to right top, #e7eccf, #c3cfb2, #a1b397, #7e987e, #5d7d66); */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{
    --primary-bg: #fbfbf9;
    --hero-bg: linear-gradient(to right top, #b5624f, #98474d, #763247, #52203e, #2e122f);
    --primary-text: #282828;
    --btn-bg: #52203e;
    --text-hover: #98474d;
    --input-fous: #52203e;
    --notif-pw: #98474d;
    --form-bg: #282828;
    --inner-form-bg: #fbfbf9;
}

.dark-mode{
    --primary-bg: #282828;
    --hero-bg: linear-gradient(to right top, #e7eccf, #c3cfb2, #a1b397, #7e987e, #5d7d66);
    --primary-text: #fbfbf9;
    --btn-bg: #53665d;
    --text-hover: #c3cfb2;
    --input-fous: #53665d;
    --notif-pw: #53665d;
    --form-bg: #fbfbf9;
    --inner-form-bg: #9a9a9a;
}

body{
    background-color: var(--primary-bg);
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    overflow-y: auto;
    color: var(--primary-text);
    scroll-behavior: smooth;

}

h1, h2, h3{
    font-family: 'Play', sans-serif;
    color: var(--primary-text);
}

a{
    text-decoration: none;
}

header{
    background-color: var(--primary-bg);
    color: --primary-text;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
} 

.nav-bar{
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.logo{
    height: 100%;
    min-width: min-content;
    font-family: 'Play', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.logo a{
    color: var(--primary-text);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}



/* -----DROPDOWN MENU----- */

.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: min-content;
    width: 100%;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: var(--primary-bg);
    transition: all .3s ease-in-out;
    transform: translateX(-100%);

}

.open.nav-menu{
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

.nav-item{
    padding: 1rem;
    transition: all .3s ease;
    border-top: 2px solid var(--primary-bg);
    border-left: 2px solid var(--primary-bg);
    border-top-left-radius: 3px;
    border-radius: 2px;
}

.nav-item:hover{
    border-top: 2px solid var(--btn-bg);
    border-left: 2px solid var(--btn-bg);
}

.nav-link{
    list-style: none;
    text-decoration: none;
    color: var(--primary-text);
    transition: border-color .3s ease;
}


/* -----The switch-----*/

.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 28px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* ----- The slider----- */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary-bg);
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-text);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-text);
}

input:checked + .slider:before {
    transform: translateX(21px);
}

.slider.round {
    border-radius: 28px;
}

.slider.round:before {
    border-radius: 50%;
}


/* -----HAMBURGER---- */

.hamburger{
    cursor: pointer;
    margin-right: 3%;
}

.bar{
    width: 40px;
    height: 5px;
    background-color: var(--primary-text);
    margin: 5px;
    transition: all .3s ease-in-out;
    border-radius: 2px;
}

.hamburger.is-active .bar1{
     transform: translateY(10px) rotate(45deg);
     transition: all .3s ease-in-out;
}

.hamburger.is-active .bar2{
    opacity: 0;
    transition: all .3s ease-in-out;
}

.hamburger.is-active .bar3{
    transform: translateY(-10px) rotate(-45deg);
    transition: all .3s ease-in-out;
}



/* -----HOME SECTION----- */


.home{
    background-image: var(--hero-bg);
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-content: center;
    overflow-x: hidden;
}

.home-content{
    border: 2px solid var(--primary-bg);
    border-radius: 2px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content h1, .home-content p{
    color: var(--primary-bg);
    text-align: center;
    padding-bottom: 2em;
}

.btn{
    background: none;
    border: none;
    text-align: center;
    color: var(--primary-bg);
    padding: 1rem 2rem;
    border: 2px solid var(--primary-bg);
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
}

.btn:hover{
    background-color: var(--text-hover);
}


/*-----SCROLL UP LABEL-----*/

.scroll-up-label{
    width: 9%;
    background-color: var(--btn-bg);
    z-index: 999;
    position: fixed;
    top: 3%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transform: scale(0);
}

.up-icon{
    width: 2em;
    height: 2em;
    fill: var(--primary-text);
}


/* -----SERVICES----- */

.services{
    width: 90%;
    margin: 0 auto;
}

.services h2{
    text-align: center;
    padding: 4rem;
}

.services-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 4rem;

}

.img-container{
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-bottom: 2em;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
    margin-bottom: 2em;
    transition: .5s;
}

/*-----FORMULAR----*/

.form-section{
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    background-color: var(--form-bg);
    display: grid;
    place-items: center;
    
}

.card{
    width: 95%;
    height: 97%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--inner-form-bg);
}

.form-image{
    background-image: url(images/dark-monstera.jpg);
    flex-basis: 40%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.form-image.dark-mode{
    background-image: url(images/monstera-green.jpg);
    flex-basis: 40%;
    height: 100%;
    background-size: cover;
    background-position: center;
}


.form{
    margin: .7em;
    display: grid;
}

.grid-heading{
    grid-column: 1/3;
    text-align: left;
    margin: 1.5em 0;
    place-self: center;
}

.notif-name, .notif-surname, .notif-phone, .notif-email, .notif-password, .notif-password-confirm, .notif-password-match, .notif-terms, .notif-blank{
    color: rgba(40, 40, 40, .5);
    font-size: .8rem;
    margin-top: 2%;
    display: none;
}

.notif-password-match{
    color: var(--notif-pw);

    display: none
}

.col{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.form-btn{
    grid-column: 1/3;
    place-self: center;
    padding: 1rem 2rem;
    width: 80%;
    background-color: var(--btn-bg);
    color: #fff;
    cursor: pointer;
    transition: .3s;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 10px 20px -18px;
    margin: 1em;
    font-size: .9rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

form-btn:focus{
    outline: 1px solid var(--primary-text);
}

.form-btn:hover{
    transform: scale(1.1);
}


input::placeholder{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5;
}

input:focus {
    border-bottom: 2px solid var(--input-fous);
    border-radius: 4px 4px 2px 2px;
}


input{
    padding: .7rem;
    margin: .7em;
    outline: none;
    border: 0;
    box-shadow: 0px 10px 20px -18px rgb(40, 40, 40);
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--primary-bg);
    padding: 4rem;
}

@media screen and (min-width: 36em){

}

@media screen and (min-width: 48em){

    /* ---MENU--- */

    .hamburger{
        display: none;
    }

    .nav-menu{
        flex-direction: row;
        justify-content: end;
        position: unset;
        transform: unset;

    }

    .switch {
        margin-left: 2em;
    }

    /* ---HOME SECTION--- */

    .home-content{
        padding: 4rem;
    }

    /*-----SCROLL UP LABEL-----*/


    .scroll-up-label{
        width: 5%;
        background-color: var(--btn-bg);
        color: #fff;
        z-index: 999;
        position: fixed;
        top: 3%;
        padding: .2rem .2rem;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        transform: scale(0);
    }

    .up-icon{
        width: 4em;
        height: 4em;
    }

    /* ---SERVICES--- */

    .services-container{
        flex-direction: row;
        gap: 10%;
    }

    .img-container{
        width: 0;
        flex-basis: 20%;
        overflow-x: unset;
    }

    /* ---FORM--- */

    .form-section{
        width: 85%;
    }
    .card{
        flex-direction: row;
        margin: 0;
        height: 95%;
    }
    
    .form{
        margin: 5%;
        flex-basis: 60%;
        display: grid;
        row-gap: 3em;
        grid-template-rows: minmax(1em, 2em) minmax(20em, 30em) minmax(3em, 6em);
        grid-template-columns: 1fr 1fr;
    }

    .grid-heading{
        grid-column: 1/3;
        place-self: start;
        margin: 0;
    }

    .col{
        all: unset;
        display: flex;
        flex-direction: column;
    }

    .form-btn{
        margin: 0;
        margin-left: .7em;
        width: 35%;
        place-self: start;
    }
}

@media screen and (min-width: 80em){
    .img-container h3{
        margin-top: 2em;
    }

    .card{
        height: 92%;
    }
}